In [4]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
# to draw pictures in jupyter notebook
%matplotlib inline
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [69]:
df = pd.read_csv('data/adult.data.csv')
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [20]:
# 1. How many men and women (sex feature) are represented in this dataset?
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [18]:
# 2. What is the average age (age feature) of women?
df[df['sex'] == 'Female']['age'].mean()

36.85823043357163

In [47]:
# 3. What is the percentage of German citizens (native-country feature)?
percentage = len(df[df['native-country'] == 'Germany']) / len(df['native-country']) * 100
print(round(percentage,2))

0.42

In [71]:
# 4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?
df1 = df[['age','salary']]
x_mean = df1[df1['salary'] == '<=50K']['age'].mean()
x_std = df1[df1['salary'] == '<=50K']['age'].std()
y_mean = df1[df1['salary'] == '>50K']['age'].mean()
y_std = df1[df1['salary'] == '>50K']['age'].std()

print(f'Средний возраст у тех, кто зарабатывает меньше 50К: {round(x_mean,2)}')
print(f'Квадратичное отклонение у тех, кто зарабатывает меньше 50К: {round(x_std,2)}')
print(f'Средний возраст у тех, кто зарабатывает больше 50К: {round(y_mean,2)}')
print(f'Квадратичное отклонение у тех, кто зарабатывает больше 50К: {round(y_std,2)}')

Средний возраст у тех, кто зарабатывает меньше 50К: 36.78
Квадратичное отклонение у тех, кто зарабатывает меньше 50К: 14.02
Средний возраст у тех, кто зарабатывает больше 50К: 44.25
Квадратичное отклонение у тех, кто зарабатывает больше 50К: 10.52

In [72]:
# 6. Is it true that people who earn more than 50K have at least high school education?
df[df['salary'] == '>50K']['education'].unique() #Не правда

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [76]:
# 7. Display age statistics for each race (race feature) and each gender (sex feature). 
#Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.
df[['age','race']].groupby(by='race').describe()

                        age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0


                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0

In [92]:
# 8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? 
#Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse),
#the rest are considered bachelors.
df['marital-status'].unique()
m_df = df
m_df[(m_df['sex'] == 'Male') & (m_df['marital-status'].str.startswith('Married'))]['salary'].value_counts(normalize=True)

<=50K    0.559486
>50K     0.440514
Name: salary, dtype: float64

In [93]:
m_df[(m_df['sex'] == 'Male') & (~m_df['marital-status'].str.startswith('Married'))]['salary'].value_counts(normalize=True)

<=50K    0.915505
>50K     0.084495
Name: salary, dtype: float64

In [109]:
# 9. What is the maximum number of hours a person works per week (hours-per-week feature)? 
# How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?
maxh = df['hours-per-week'].max()
rabotyaga_count = df[df['hours-per-week'] == df['hours-per-week'].max()]['salary'].count()
rich_rabotyaga_pecintage = df[(df['hours-per-week'] == df['hours-per-week'].max()) & (df['salary'] == '>50K')]['salary'].count() / rabotyaga_count * 100

print(f'Максимальное количество часов в неделю: {maxh}')
pd.DataFrame({'Количество работяг': rabotyaga_count, 'Процент богатых работяг':round(rich_rabotyaga_pecintage, 2)}, index=[0])

Максимальное количество часов в неделю: 99

   Количество работяг  Процент богатых работяг
0                  85                    29.41

In [117]:
# 10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country).
# What will these be for Japan?
result = df[['hours-per-week', 'native-country', 'salary']].groupby(by=['native-country', 'salary'], as_index=False).agg({'hours-per-week': 'mean'})
result[result['native-country'] == 'Japan']

   native-country salary  hours-per-week
47          Japan  <=50K       41.000000
48          Japan   >50K       47.958333